<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nicokarg.whydoyou">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_why_do_you_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_why_do_you_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeKeeper"
        tools:targetApi="31">
        <!--intent-filter with the action name as "restartservice" where the Restarter.java is registered as a receiver:-->
        <receiver
            android:name="com.nicokarg.whydoyou.broadcast.Restarter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!--ensures that our custom BroadcastReciever is called
                whenever the system encounters a broadcast with the given action name.-->
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.nicokarg.whydoyou.activities.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TimeKeeper.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.nicokarg.whydoyou.services.YourService"
            android:enabled="true" >
        </service>
        <activity
            android:name="com.nicokarg.whydoyou.activities.lock.LockScreenActivity"/>
        <activity
            android:name="com.nicokarg.whydoyou.activities.settings.SettingsActivity"/>
    </application>

</manifest>